
<html>
<header>
<title>Knowledge Base</title>
<link rel= "stylesheet" href="/stylesheets/bootstrap.css"/>
<link rel= "stylesheet" href="/stylesheets/style.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<h2>Knowledge Base</h2> -->
<img src= "/images/saleshub.png" alt="saleshub"> <br> <br>
<hr>


</header>
<body>
<div class="container">

      {{{body}}}

      </div> 
      

      <footer class="footer">
      	<hr>
        <!-- <p>&copy; Saleshub @ 2017</p> -->
        <!--<img src= "/images/saleshub.png" alt="saleshub"> <br> <br> -->
         <p>Copyright &copy; 2017 Saleshub Inc. </p> 
        <i class="fa fa-linkedin-square" style="font-size:24px"></i>
        <i class="fa fa-twitter" style="font-size:24px"></i>
        <i class="fa fa-facebook-square" style="font-size:24px"></i>
        

      </footer>

    </div> <!-- /container --></body>
</html>