<header>
<link rel= "stylesheet" href="/stylesheets/bootstrap.css"/>
<link rel= "stylesheet" href="/stylesheets/style.css"/>

<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<!--<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>


</header>


<div class="container">



<div class="form-style-2">
<div class="form-style-2-heading">Enter my blog to guide others..</div>

<form id= "form" method="post">

<label for="field1"><span>Title <span class="required">*</span> </span><input type="text" class="input-field" name="title"  /></label>

<label for="field2"><span>Author <span class="required">*</span> </span><input type="text" class="input-field" name="author" value="" /></label>

<label for="field4"><span>Category</span><select name="category" class="select-field">
<option value="Content">Content</option>
<option value="Sales">Sales</option>
<option value="Development">Development</option>
</select></label>

<label for="field5"><span>Blog <span class="required">*</span></span> <textarea name="content" class="textarea-field"></textarea></label>

<label><span>&nbsp;</span><input type="submit" value="Submit" class ="update"/></label> 
<label><span>&nbsp;</span><input type= "button" id ="cancel"  value="Cancel" class ="cancel"/></label> 
</form>
</div>


</div> <!-- Div of Container ends here --> 

<script type="text/javascript">


//cancel go to root 
 document.getElementById("cancel").onclick = function () {
        window.location.href = 'https://kwldgebase.herokuapp.com/';
    };
  
//form validation with Jquery happening here

$(document).ready(function () {

    $('#form').validate({ // initialize the plugin
        rules: {
            title: {
                required: true,
                //email: true
            },
            author: {
                required: true,
                //minlength: 5
            },
            content: {
              required: true,
            },
        },
          messages: {

            title: "is required", 
            author: "is required",
            content: "is required"

           }

    });

});



</script>