<!doctype html>
<html lang="en">

<header>
<link rel= "stylesheet" href="/stylesheets/bootstrap.css"/>
<link rel= "stylesheet" href="/stylesheets/style.css"/>
<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.min.js"></script>

</header>
<body>

<p>Edit an article</p> 

<div class="container">


    <!-- OLD FORM 
    <form id="form" class="flex-container" action="http://localhost:3000/show" method="put">
      <input id="name" class="flex-item" type="text" name="title_edit" placeholder="Write your title.." >
      <input id="email" class="flex-item" type="text" name="test" placeholder="Write your author.." >
      <textarea id="message" class="flex-item" type="text" name="content_edit" placeholder="Write your post.."  ></textarea>
      <input id="submit" class="update" type="submit" value="EDIT">
  
    </form> -->


<div class="form-style-2">
<div class="form-style-2-heading">Edit your Blog</div>

<form id= "form" action="http://localhost:3000/show" method="put">

<label for="field1"><span>Title <span class="required">*</span> </span><input type="text" class="input-field" name="title_edit"  /></label>

<label for="field2"><span>Author <span class="required">*</span> </span><input type="text" class="input-field" name="test" value="" /></label>

<label for="field4"><span>Category</span><select name="field4" class="select-field">
<option value="General Question">Content</option>
<option value="Advertise">Sales</option>
<option value="Partnership">Developmemt</option>
</select></label>

<label for="field5"><span>Blog <span class="required">*</span></span> <textarea name="content_edit" class="textarea-field"></textarea></label>

<label><span>&nbsp;</span><input type="submit" value="Edit" class ="update"/></label>
</form>
</div>

</div>

<script type="text/javascript">

	editFunction();

    function editFunction(){

      $(".update").click(function(e){
        //e.preventDefault();
        //var thisID = $(this).attr("id");
        //console.log(thisID);
        var a = location.href; //'http://localhost:3000/add/:id';
        var value = a.split('/')[4];
        console.log(value); 


        $.ajax({
          url: 'http://localhost:3000/add/' +  value,
          method: 'put',
          dataType : 'json', // data type
          data : $("#form").serialize()
          
          //Content-Type: "application/json"//"text/plain"

        }); //ajax call 
      });//update JQuery    
        
    } // update function ends here


//form validation with Jquery happening here
$(document).ready(function () {

    $('#form').validate({ // initialize the plugin
        rules: {
            title_edit: {
                required: true,
                //email: true
            },
            test: {
                required: true,
                //minlength: 5
            },
            content_edit: {
              required: true,
            }
        },
          messages: {

            title_edit: "is required", 
            test: "is required",
            content_edit: "is required"

           }

    });

});


	


</script>
</body>
</html>
