

<div style="text-align:center;">
<p class="writing">The Oracle represents a collection of blog posts from the SalesHub community. </br></br> Here you can discover the existing blogs and find an answer to your question. If it's unavailable, you can enter your own post.</p> </br>

<button type="button" class="update" id= "add" >Add my Blog</button> </br> </br>
<button type="button" class="update" id= "show" >Discover other Blogs</button>
</br></br></br><div align = "center" class = "logout" > <a href="/logout">Logout</a> </div> 

</div>


<script type="text/javascript">
	// go to add page
    document.getElementById("add").onclick = function () {
        window.location.href = 'https://kwldgebase.herokuapp.com/add';
    };

    //go to show page
    document.getElementById("show").onclick = function () {
        window.location.href = 'https://kwldgebase.herokuapp.com//show';
    };
</script>
