


<h5>Show all article</h5> </br> 


<table style="width:50%">
  <tr>
    <th class="title">Title</th>
    <th>Author</th> 
    <th>Author</th> 
  </tr>
  <tr>
    <td id ="demo1" >Eve</td>
    <td id ="demo2">Jackson</td>
    <td id ="demo3">Default</td>
  
  </tr>
</table> 

<div class="testing"></div>



<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 


<!-- <script>
  $.ajax({
    url: 'http://localhost:3000/api/show',
    method: 'GET',
    dataType: 'json'
  }).then(function(res) {
    //console.log('It worked!');
    //console.log(res[0].author); 
    var author = res[0].author;
    var author = "<p>" + author + "</p>";
    // var content = es[0].content;
    console.log(res[0].title);
    console.log(res);
    console.log("the author is " + author);
    // $(".title").addClass("testing");
    // $(".title").append(res); 
    $(".testing").html(author);
  });

</script> -->


<!--tests -->
<script>
  $.ajax({
    url: 'http://localhost:3000/api/show',
    method: 'GET',
    dataType: 'json'
  }).then(function(res) {

    var title = res[0].title;
    var author = res[0].author;
    var blog = res[0].content;
    //$("#testing").append(x);
    console.log(title);
    document.getElementById("demo1").innerHTML = title;
    document.getElementById("demo2").innerHTML = author;
    document.getElementById("demo3").innerHTML = blog;

    //$.each(res, function(i,field){
      //$(".testing").append(field + " ");
    //});
    //console.log('It worked!');
    //console.log(res[0].author); 
    var author = res[0].author;
    var author = "<p>" + author + "</p>";
    // var content = es[0].content;
    //console.log(res[0].title);
    console.log(res);
    //console.log("the author is " + author);
    // $(".title").addClass("testing");
    // $(".title").append(res); 
    //$(".testing").html(author);
    var objectLength = res.length;
      console.log("the object length is " + objectLength);
      for (var i = 0; i < objectLength; i = i + 1) {
          var title = (res[i].title);
          var author = (res[i].author);
          var blog = (res[i].blog);

          //$(".testing").append("<div class='section" + i + "'><h2 class='title'>" + title + "</h2><h3 class='author'>" + author + "</h3><h3 class='blog'>" + blog + "</h3></div>");

          $(".testing").append("<div class='section" + i + "'><p class='title'>" + title + "</p><p class='author'>" + author + "</p><p class='blog'>");

      }
  });

</script>



