<!doctype html>
<html lang="en">
<head>
<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
</head>
<body>
<p>im working </p>

<div class="letsgo"></div>
<script>

	$.ajax({
	  url: 'http://localhost:3000/show/:id',
	  method: 'GET',
	  dataType: 'json'
	}).then(function(res) {

		var title = res[0].title;
		var author = res[0].author;
		var blog = res[0].content;

		console.log(res);
		console.log('hi');
	
	/*

	  var author = res[0].author;
	  var author = "<p>" + author + "</p>";

	  console.log(res);

	  var objectLength = res.length;
      console.log("the object length is " + objectLength);
      for (var i = 0; i < objectLength; i = i + 1) {
      		var title = (res[i].title);
      		var author = (res[i].author);
      		var blog = (res[i].content);
      		var id = (res[i]._id);
      		//console.log(id_global);


     
          $(".letsgo").append(
          	"<div id=" + id + " class='accordianOpen'> " + "<h2 class='accordionItemHeading'>" + title + " by " + author + "</h2>" +
           	"<div class='accordionItemContent'><p>" + blog + "</p>" + " <button id = " + id + " class='update'>View</button> <button id = " + id + " onclick='deleteFunction()' class='delete'>Delete</button>" + 
           	"</div> </div>"

        	 ); //append ends    */
       

      //} loop ends
      
     // testFunction();
	});

</script>
</body>
</html>
