<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- Stylesheet CSS -->
  <link rel= "stylesheet" href="/stylesheets/bootstrap.css"/>
  <link rel= "stylesheet" href="/stylesheets/style.css"/>
<script>
  $( function() {
    $( "#accordion" ).accordion();
  } );

 //ajax stuff working
  $.ajax({
    url: 'http://localhost:3000/api/show',
    method: 'GET',
    dataType: 'json'
  }).then(function(data){
    //console.log(data);
    $("#test").append(data[0].title + " by" + " " + data[0].author);
    $("#test2").append(data[0].content);

    //doing the loop
      var objectLength = data.length;
      //console.log("the object length is " + objectLength);
      for (var i = 0; i < objectLength; i++) {
          var title = (data[i].title);
          var author = (data[i].author);
          var blog = (data[i].blog);
          //$(".data").html(title);

          $(".data").each(function(index,value){

             // $(this).html(title);
              //$(this).append(data[i].title);
              //console.log(title);
              console.log( index + ": " + $( this ).text() );

          });

          //$(".testing").append("<div class='section" + i + "'><h2 class='title'>" + title + "</h2><h3 class='author'>" + author + "</h3><h3 class='blog'>" + blog + "</h3></div>");

      }
  });

  </script>
</head>
<body>
 
<div id="accordion">
  <h3 id="test"></h3>
  <div>
    <p id ="test2"> </p>
    <button class="update">Update</button>
    <button class="delete">Delete</button>
  </div>
  <h3 class ="data">Section 2</h3>
  <div>
    <p>
    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
    purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
    velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
    suscipit faucibus urna.
    </p>
    <button class="update">Update</button>
    <button class="delete">Delete</button>
  </div>
  <h3 class ="data">Section 3</h3>
  <div>
    <p>
    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
    </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
    <button class="update">Update</button>
    <button class="delete">Delete</button>
  </div>
</div>

 
 
</body>
</html>